-- Insert blacklist entry
INSERT INTO blacklist_entry (id, nickname, uuid, reason, created_at)
VALUES (1, 'K1zik', '91676fae2a454dc2b92e6bda76d31cb5', '╒єхёюё эр фхЄхъЄштх', '2025-04-18 03:01:38');

-- Insert admin users with properly hashed passwords

-- Reset the sequence for blacklist_entry to start after our inserted data
SELECT setval('blacklist_entry_id_seq', (SELECT MAX(id) FROM blacklist_entry));
