{# templates/admin_login.html #}
{% extends "base.html" %}

{% block title %}Админ панель - Вход{% endblock %}

{% block content %}
<main class="container">
  <h1>Вход в админ панель</h1>
  <form method="POST" action="{{ url_for('admin_login') }}">
    {{ form.hidden_tag() }}
    <div class="input-group">
      {{ form.username(placeholder="Имя пользователя") }}
    </div>
    <div class="input-group">
      {{ form.password(placeholder="Пароль") }}
    </div>
    {{ form.submit(class="btn-check") }}
  </form>
</main>
{% endblock %}
