{% extends "base.html" %}

{% block title %}Вход в админ-панель{% endblock %}

{% block content %}
<main class="container">
  <h1>Вход в админ-панель</h1>
  <form action="{{ url_for('admin_login') }}" method="POST">
    <div class="input-group">
      <input type="text" name="username" placeholder="Логин" required>
    </div>
    <div class="input-group">
      <input type="password" name="password" placeholder="Пароль" required>
    </div>
    <button type="submit" class="btn-check">Войти</button>
  </form>
</main>
{% endblock %}
