{% extends "base.html" %}
{% block title %}Контакты ЧС Сосмарка{% endblock %}

{% block content %}
<main class="container contact-info">
  <h1>Контакты</h1>
  <div class="content-box">
    <p>Официальные контакты Третьей Сосмаркской Империи:</p>
    <ul class="contacts-list">
      <li>💬 Discord: <a href="https://discord.gg/n4QezpFdp9" target="_blank" rel="noopener">Третья Сосмаркская Империя</a></li>
      <li>📢 Telegram: <a href="https://t.me/SosmarkSPm" target="_blank" rel="noopener">@SosmarkSPm</a></li>
      <li>📧 Email: <a href="mailto:ave@sosmark.ru">ave@sosmark.ru</a></li>
      <li>📧 Спец. Email: <a href="mailto:itsos@sosmark.ru">itsos@sosmark.ru</a></li>
    </ul>
  </div>
</main>
{% endblock %}
