{% extends "base.html" %}

{% block title %}
  {% if result %}
    {% if result.color == "red" %}⛔ {{ result.message }}{% else %}✅ {{ result.message }}{% endif %}
  {% else %}
    ЧС Сосмарка - Проверка игрока
  {% endif %}
{% endblock %}

{% block content %}
<main class="container checker-container">
  <h1>Проверка на наличие в ЧС</h1>
  <p>Введите никнейм для проверки:</p>
  
  <form method="POST" action="{{ url_for('index') }}" class="checker-form">
    {{ form.hidden_tag() }}
    <div class="input-group">
      {{ form.nickname(id="nickname", class="form-control-custom", placeholder="Ваш никнейм", autocomplete="off") }}
    </div>
    <div class="input-group">
    {{ form.submit(class="btn-check") }}
    </div>
  </form>

  {% if result %}
    <div id="result" class="result-container {% if result.color == 'red' %}text-danger{% else %}text-success{% endif %}">
      <p>{{ result.message }}</p>
      {% if result.reason %}
        <p>Причина: {{ result.reason }}</p>
      {% endif %}
      {% if result.color == 'red' %}
        <canvas id="confettiCanvas" width="600" height="400" style="display:none;"></canvas>
      {% endif %}
    </div>
  {% endif %}
</main>
{% endblock %}

{% block scripts %}
{% if result and result.color == 'red' %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const canvas = document.getElementById('confettiCanvas');
    if(canvas){
        canvas.style.display = 'block';
        const confetti = new ConfettiGenerator({ 
            target: 'confettiCanvas', 
            clock: 25,
            duration: 2000
        });
        confetti.render();
        setTimeout(() => { canvas.style.display = 'none'; }, 3000);
    }
  });
</script>
{% endif %}
<script src="{{ url_for('static', filename='js/pages/index.js') }}" defer></script>
{% endblock %}